form {
  justify-content: center;
  padding: 20px;
}

select, input {
  max-width: fit-content;
}

button, span {
  background-color: #212529;
  color: white;
}

button:hover {
  border: 1px solid #ced4da;
  background-color: #ced4da;
  color: #212529;
}
