<div class="simple-search-field">
  <form class="input-group">
    <span class="input-group-text">Search by</span>
    <select
      class="form-select"
      [(ngModel)]="selectedOption" name="searchSelection">
      <option *ngFor="let option of searchOptions" [ngValue]="option.id">{{option.name | uppercase}}</option>
    </select>
    <input #searchInput
           class="form-control"
           (keydown.enter)="onSearch(searchInput.value); searchInput.value = '';"
           placeholder="Search Book"/>
    <button
      class="btn"
      (click)="onSearch(searchInput.value); searchInput.value = '';">
      Search
    </button>
  </form>
</div>
