.bofh-logo {
  inline-size: fit-content;
  margin: 0 auto;
  padding: 50px;
}

h1 {
  font-family: Cormorant Garamond, bold, serif;
  font-weight: 700;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  border-top-width: medium;
  border-bottom-width: medium;
  display: inline-block;
  padding: 30px;
  font-size: 80px;
}
